@charset "UTF-8";

.item input {
	height: 46px;
	width: 650px;
	font-size: 20px;
	border-radius: 10px;
	text-align: 4em;
	padding-left: 10px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)
}

.item button {
	display: inline-block;
	height: 46px;
	width: 180px;
	font-size: 20px;
	border-radius: 10px;
	background-color: #f4511e;
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	font-size: 16px;
	margin: 4px 2px;
	opacity: 1;
	transition: 0.3s;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
	border: none;
	box-shadow: 0 6px #999;
}

.item button:hover {
	background-color: gray;
	opacity: 0.8;
}

.item button:active {
	background-color: gray;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}